<center><b>Hands-on</b></center>
<b><p style="text-align:center;font-size:50px">Interactivity</p></b>
<div style="text-align:center">
    <div>
       Etienne Kornobis, François Laurent, Bertrand Néron
       <br />
       <a src=" https://research.pasteur.fr/en/team/bioinformatics-and-biostatistics-hub/">Bioinformatics and Biostatistics HUB</a>
       <br />
       © Institut Pasteur, 2022
    </div>    
</div>

In [1]:
import pandas as pd
import seaborn as sns
from ipywidgets import interact, widgets

Using the `data/city_temperature.csv` dataset, we are going to practice interactivity using ipywidgets. 
- Make a decorated function which returns a dataframe with only the data for a country selected by the user (through a dropdown widget for example): 

There is other ways, but the `unique` method can be of use as well:
> https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html#pandas.Series.unique

In [2]:
df = pd.read_csv("data/city_temperature.csv")

/tmp/ipykernel_34363/4028327859.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/city_temperature.csv")

In [3]:
@interact(country=widgets.Dropdown(options=df.Country.unique()))
def show_table(country):
    return df.query("Country == @country")

interactive(children=(Dropdown(description='country', options=('Algeria', 'Burundi', 'Benin', 'Central African…

- Make a decorated function which returns a graph of the temperatures with only the data for a city selected by the user.

In [4]:
@interact(city=widgets.Dropdown(options=df.City.unique()))
def show_table(city):
    df_selection = df.query("City == @city")
    sns.lineplot(x="Year", y="AvgTemperature", data=df_selection)

interactive(children=(Dropdown(description='city', options=('Algiers', 'Bujumbura', 'Cotonou', 'Bangui', 'Braz…

These temperatures in Fahrenheit are cumbersome especially in Europe, let's convert them to Celsius. Here is the formula to apply:

$$°C = \frac{°F - 32}{1.8}$$
- Create a new column to the dataframe with the temperatures as Celsius and redraw the last graph. We saw in the course that mathematical operations can be directly performed on Series, but it is also a good occasion to practice the `apply` method, using a `farhenheit_to_celsius` function for the conversion).

> https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [5]:
df.loc[:,"AvgTemperature_C"] = (df.loc[:,"AvgTemperature"] - 23) / 1.8

In [12]:
def fahrenheit_to_celsius(x):
    return (x - 23) / 1.8

In [13]:
df.loc[:,"AvgTemperature_C"] = df.loc[:,"AvgTemperature"].apply(fahrenheit_to_celsius)

In [8]:
@interact(city=widgets.Dropdown(options=df.City.unique()))
def show_table(city):
    df_selection = df.query("City == @city")
    sns.lineplot(x="Year", y="AvgTemperature_C", data=df_selection)

interactive(children=(Dropdown(description='city', options=('Algiers', 'Bujumbura', 'Cotonou', 'Bangui', 'Braz…

As a side note `apply` can be usefull to access indices and columns names but `itertuples` is a much faster method to deal with the same kind of operations.

> https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html

- Using your interactive plot, you should see something strange checking the 10 first cities. What is happening in Addis Ababa ?

In [9]:
df.query("City == 'Addis Ababa' & Year < 1995")

,Region,Country,State,City,Month,Day,Year,AvgTemperature,AvgTemperature_C
58178,Africa,Ethiopia,NaN,Addis Ababa,12,3,201,-99.0,-67.777778
58179,Africa,Ethiopia,NaN,Addis Ababa,12,4,201,-99.0,-67.777778
58180,Africa,Ethiopia,NaN,Addis Ababa,12,5,201,-99.0,-67.777778
58181,Africa,Ethiopia,NaN,Addis Ababa,12,6,201,-99.0,-67.777778
58182,Africa,Ethiopia,NaN,Addis Ababa,12,7,201,-99.0,-67.777778
58183,Africa,Ethiopia,NaN,Addis Ababa,12,8,201,-99.0,-67.777778
58184,Africa,Ethiopia,NaN,Addis Ababa,12,9,201,-99.0,-67.777778
58185,Africa,Ethiopia,NaN,Addis Ababa,12,10,201,-99.0,-67.777778
58186,Africa,Ethiopia,NaN,Addis Ababa,12,11,201,-99.0,-67.777778
58187,Africa,Ethiopia,NaN,Addis Ababa,12,12,201,-99.0,-67.777778
58188,Africa,Ethiopia,NaN,Addis Ababa,12,13,201,-99.0,-67.777778
58189,Africa,Ethiopia,NaN,Addis Ababa,12,14,201,-99.0,-67.777778
58190,Africa,Ethiopia,NaN,Addis Ababa,12,15,201,-99.0,-67.777778
58191,Africa,Ethiopia,NaN,Addis Ababa,12,16,201,-99.0,-67.777778
58192,Africa,Ethiopia,NaN,Addis Ababa,12,17,201,-99.0,-67.777778
58193,Africa,Ethiopia,NaN,Addis Ababa,12,18,201,-99.0,-67.777778
58194,Africa,Ethiopia,NaN,Addis Ababa,12,19,201,-99.0,-67.777778
58195,Africa,Ethiopia,NaN,Addis Ababa,12,20,201,-99.0,-67.777778
58196,Africa,Ethiopia,NaN,Addis Ababa,12,21,201,-99.0,-67.777778
58197,Africa,Ethiopia,NaN,Addis Ababa,12,22,201,-99.0,-67.777778
58198,Africa,Ethiopia,NaN,Addis Ababa,12,23,201,-99.0,-67.777778
58199,Africa,Ethiopia,NaN,Addis Ababa,12,24,201,-99.0,-67.777778
58200,Africa,Ethiopia,NaN,Addis Ababa,12,25,201,-99.0,-67.777778
58201,Africa,Ethiopia,NaN,Addis Ababa,12,26,201,-99.0,-67.777778
58202,Africa,Ethiopia,NaN,Addis Ababa,12,27,201,-99.0,-67.777778
58203,Africa,Ethiopia,NaN,Addis Ababa,12,28,201,-99.0,-67.777778
58204,Africa,Ethiopia,NaN,Addis Ababa,12,29,201,-99.0,-67.777778
58205,Africa,Ethiopia,NaN,Addis Ababa,12,30,201,-99.0,-67.777778
58206,Africa,Ethiopia,NaN,Addis Ababa,12,31,201,-99.0,-67.777778

Either some extremely cold temperature from an extremely old record... or some malformated data...